body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    height: auto;
    width: 1200px;
    margin: auto;
    position: relative;
   /* padding: 0;*/
}


.newsfeed h2 {
    font-size: 36px;
    color : #fef9c7;
    text-align: center;
    margin-bottom: 40px;
}

/* News article container */
.news-article {
    display: flex;
    align-items: flex-start;
    background: transparent;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.news-article:hover {
    transform: scale(1.02);
}

/* News image */
.news-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

/* News content */
.news-content h3 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

.news-content p {
    font-size: 14px;
    color:#e0e0e0;
    margin: 5px 0;
}

.read-more {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .news-article {
        flex-direction: column;
        text-align: center;
    }
    .news-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}
